{% extends 'adminbase.html' %}
{% load static %}
{% block title %}Categories{% endblock %}
{% block content %}
<br><br><br><br>
<br>
<br>


<div class="container">
    
        <div class="row align-items-center">
    
            <div class="recent-payments">
                <div class="title" style="margin-left: 560px;">
                    <h2>View Pet Categories</h2>
                </div>
                <table style="margin-left: 700px;">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>        
                        <th>Image</th>
                        <th colspan="2">Options</th>                      
                    </tr>
                    {% for user in user %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.Name}}</td>
                        <td><img src="{{user.Image.url}}" style="width:250px;height: 250px;"></td>
                        <td><a class="btn" href="{% url 'adminapp:updatecategory' user.id %}">Update</a></td>
                        <td><a class="btn" href="{% url 'adminapp:deletecategory' user.id %}">Delete</a></td>
                        
                    </tr>
                    {% endfor %}
                </table>
                <br><br>
                <a href="{% url 'adminapp:dashboard'  %}" class="btn" style="margin-left: 1000px;">Back</a>
                <span><a href="{% url 'adminapp:viewcategories'  %}" class="btn">Save</a></span>
                
            </div>
            <br><br><br><br>
            <br>
        </div>
</div>
        
   

   

{% endblock %}